<h1>About QuickBGG</h1>

<div>
  <p>This is a simple AngularJS application for WATS4000.  I made QuickBGG so that users of BoardGameGeek.com could quickly find collections, see "The Hotness" list and perform other simple actions without all the confusion and noise of the main website.</p>

  <p>For testing purposes, you can use the BGG usernames "Agnoxis" and "fixie," although you can search for the collections of any BGG users you may know.</p>

  <p>This site utilizes a third party server located at <a href="https://bgg-json.azurewebsites.net/">https://bgg-json.azurewebsites.net/</a>, which wraps the BGG API as JSON endpoints.  The server can be slow at times, so be patient, particularly when waiting for 'The Hotness' list to load in the main view.</p>


</div>
