<div ng-controller="CollectionCtrl">
  <h1>Find a game collection</h1>

  <div>
    <label>BGG Username:
      <input type="text" name="username" ng-model="username">
    </label>
    <button class="btn btn-sm btn-primary" ng-click="findCollection()">Find Collection</button>

  </div>

  <div ng-if="username">
    <ul style="list-style: none">
      <li ng-repeat="game in collection">{{game.name}}</li>
    </ul>
  </div>

  <p><button class="btn btn-sm btn-primary" ng-click="saveUser()">Save Collection</button></p>


</div>
