<div ng-controller="CollectionCtrl">
  <h1>Find a game collection</h1>

  <div>
    <label>BGG Username:
      <input type="text" name="username" ng-model="username">
    </label>
    <button class="btn btn-sm btn-primary" ng-click="findCollection()">Find Collection</button>

  </div>

  <div ng-if="username">
    <ul style="list-style: none">
      <li ng-repeat="game in collection">{{game.name}}</li>
    </ul>
  </div>

  <p><button class="btn btn-sm btn-primary" ng-click="saveUser()">Save Collection</button></p>

  <div ng-if="storage.savedUsers">
    <h2>Saved Collections</h2>
      <ul style="list-style: none">
        <li ng-repeat="user in storage.savedUsers">
          <button class="btn btn-sm btn-info" ng-click="displayCollection()">{{user}}</button>
          <ul>
            <li ng-repeat="item in savedCollections.games">{{item}}</li>
          </ul>
        </li>
      </ul>
  </div

  <div ng-messages="collectionSaved">
      <p class="bg-success text-success" ng-message="success">
           {{user}} has been saved to your list of collections.
      </p>
      <p class="bg-warning text-warning" ng-message="duplicate">
          {{user}} has already been saved to your list of collections.
      </p>
  </div>


</div>
